/*-------------//
// Base Styles //
//-------------*/

/*/-- Font --/*/

/* Primary Font */
@font-face {
  font-family: 'CircularStd-Book';
  src: url('/assets/fonts/CircularStd-Book.eot');
  src: local('☺'), url('/assets/fonts/CircularStd-Book.woff') format('woff'), url('/assets/fonts/CircularStd-Book.ttf') format('truetype'), url('/assets/fonts/CircularStd-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Logotype Font */
@font-face {
  font-family: 'Gotham-Medium';
  src: url('/assets/fonts/Gotham-Medium.eot');
  src: local('☺'), url('../fonts/Gotham-Medium.woff') format('woff'), url('/assets/fonts/Gotham-Medium.ttf') format('truetype'), url('/assets/fonts/Gotham-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*/-- Responsive Font --/*/

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

/* Apply primary font & color to these tags */
a, p, h3, span{
  font-family: 'CircularStd-Book';
  color: #000;
}

/* Logotype styles */
.logo{
  font-family: 'Gotham-Medium';
  //color: #000;
  text-decoration: none;
}
.white-text{
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

//This was in old version, don't think it was necessary
//ul, ol {
//  padding: 0;
//}

/* Primary Background Image */
.background-image{
  background-image: url("../img/nc-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

//Believe this was used for revealing content after logo + nav animation
//.main-load{
//  opacity: 0;
//}
//.main-load-active{
//  opacity: 1;
//}
//.main-load-transition{
//  -webkit-transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
//  -moz-transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
//  -o-transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
//  -ms-transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
//  transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
//}

//Change .bg-inverse to #000
.bg-inverse{
  background-color: #000!important;
}

//Remove Button outline on click
button{
  outline: none!important;
}
//No Padding No Margin
.no-pad-no-margin{
  padding: 0;
  margin: 0;
}
//Mixins
@mixin no-pad-no-margin{
  padding: 0;
  margin: 0;
}
@mixin no-text-decoration{
  text-decoration: none;
}
@mixin hover-black-text{
  color: #000;
}
@mixin circular{
  font-family: 'CircularStd-Book';
}
//N&C Default Background
.background-image{
  background-image: url("../../assets/img/nc-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
//Bootstrap.min.css changes
//Changed modal-backdrop color to white, opacity to 1 on .show
//html {
  //  height  : 100%;
    //overflow: hidden;
//}
//body {
  //  height  : 100%;
    //overflow: auto;
//}

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.fullheight {
		height: 768px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.fullheight {
		height: 1024px;
	}
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	.fullheight {
		height: 320px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	.fullheight {
		height: 568px;
	}
}
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.fullheight {
		height: 320px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.fullheight {
		height: 480px;
	}
}
