/*-------------//
// Gallery //
//-------------*/
/*/-- Appearance --/*/
/* Gallery Padding */
@media (min-width: 768px){
#fullscreen-btn{
  display: flex;
}
.gallery-container{
  padding: calc(6% - 29px) 6% 0 6%;
}
.gallery-container img.img-fluid:not(:last-child){
    padding-bottom: 5px;
}
}
@media (max-width: 767px){
#fullscreen-btn{
  display: none;
}
.gallery-container{
  padding: 0rem;
}
.gallery-container img.img-fluid:not(:last-child){
    padding-bottom: 3px;
}
}
