---
layout: default
---

<div id="section1" class="container-fluid section d-flex textdiv background-image" data-anchor="home">
  {% comment %}<div class="col textdiv"> Why is this set to col-md-12? Changed to .col{% endcomment %}
    <div class="center-div resp-font-body d-flex flex-column align-self-center mx-auto">{% comment %} Do I NEED two 'div' elements? {% endcomment %}
      <p>Alphabet Studio</p>
      <p>Alphabet Studio produces original pieces of typographic art for customers.</p>
    </div>
</div>
{% include gallery_section.html %}
{% include gallery_fullscrn_btn.html %}
{% include alpha_gal_img.html %}
{% include gallery_section_end.html %}
