---
layout: default
---

<div id="section1" class="container-fluid section d-flex textdiv background-image mobile-pad-top" data-anchor="home">
  {% comment %}<div class="col textdiv"> Why is this set to col-md-12? Changed to .col{% endcomment %}
    <div class="center-div resp-font-body d-flex flex-column align-self-md-center">{% comment %} Do I NEED two <div> elements? {% endcomment %}
      <p>Raiso Japan</p>
      <p class="no-pad-no-margin">Raiso is a Japanese skin &amp; hair care company. With emphasis on the high-end customer, they create quality products that do more than simply clean.</p>
    </div>
  {% comment %}</div>{% endcomment %}
</div>
{% include gallery_section.html %}
{% include gallery_fullscrn_btn.html %}
{% include raiso_gal_img.html %}
{% include gallery_section_end.html %}
