<ul class="site-cta-contact d-flex flex-column align-items-end no-pad-no-margin"><!-- site-cta-contact aligns button content -->
    <li>
      <button type="button" data-toggle="modal" data-target="#servicesmodal" style="background-color: #fff; border: none;">
        <span>Fullscreen</span>
        <svg width="22px" height="22px" viewBox="1295 995 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
  <desc>Created with Sketch.</desc>
  <defs></defs>
  <g id="Box" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1296.000000, 996.000000)">
      <polyline id="Path-3" stroke="#979797" points="7.61904762 0 0 8.45884209e-16 3.63596618e-16 7.61904762"></polyline>
      <polyline id="Path-3-Copy" stroke="#979797" transform="translate(16.190476, 3.809524) rotate(90.000000) translate(-16.190476, -3.809524) " points="20 -8.52651283e-14 12.3809524 -8.44192441e-14 12.3809524 7.61904762"></polyline>
      <polyline id="Path-3-Copy-3" stroke="#979797" transform="translate(3.809524, 16.190476) rotate(270.000000) translate(-3.809524, -16.190476) " points="7.61904762 12.3809524 2.84217094e-14 12.3809524 2.8785306e-14 20"></polyline>
      <polyline id="Path-3-Copy-2" stroke="#979797" transform="translate(16.190476, 16.190476) rotate(180.000000) translate(-16.190476, -16.190476) " points="20 12.3809524 12.3809524 12.3809524 12.3809524 20"></polyline>
  </g>
        </svg>
      </button>
    </li>
</ul>
