<div class="image-grid-container no-pad-no-margin" data-anchor="grid">{% comment %}are the section id tags still necesarry w/o fullpage?{% endcomment %}
<ul class="image-grid">{% comment %}Create better name{% endcomment %}
   <li><a href="logos.html"><img src="assets/img/grid/thumb_logos.jpg"/><div class="grid-hover"><h3>Logos</h3></div></a></li>
   <li><a href="noriko.html"><img src="assets/img/grid/thumb_noriko.jpg"/><div class="grid-hover"><h3>Noriko Olling</h3></div></a></li>
   <li><a href="alphabet.html"><img src="assets/img/grid/thumb_alphabetstudio.jpg"/><div class="grid-hover"><h3>Alphabet Studio</h3></div></a></li>
   <li><a href="raiso.html"><img src="assets/img/grid/thumb_raiso.jpg"/><div class="grid-hover"><h3>Raiso Japan</h3></div></a></li>
   <li><a href="aaltoin.html"><img src="assets/img/grid/thumb_aaltoin.jpg"/><div class="grid-hover"><h3>Aaltoin</h3></div></a></li>
   <li><a href="bukau.html"><img src="assets/img/grid/thumb_bukau.jpg"/><div class="grid-hover"><h3>Bukau</h3></div></a></li>
   <li><a href="iianderson.html"><img src="assets/img/grid/thumb_iianderson.jpg" /><div class="grid-hover"><h3>iiAnderson</h3></div></a></li>
   <li><a href="#"><img src="assets/img/grid/thumb_cjoyceheart.jpg"/><div class="grid-hover"><h3>CJoiceHeart</h3></div></a></li>
   <li><a href="#"><img src="assets/img/grid/thumb_homestyle.jpg"/><div class="grid-hover"><h3>Homestyle Massage</h3></div></a></li>
</ul>
</div>
